// See: https://codepen.io/takaneichinose/pen/QWyXjNP



table, 
tr,
td {
    border: border-collapse;
}
table {
    border-collapse: collapse;
    width: 100%;
    thead {
        tr {
            th {
                padding: 8px 4px;
                text-align: start;
                border-left: 0;
                border-right: 0;
                font-weight: bold;                
            }
        }
    }
    tbody {
        tr.readonly {
            border-bottom: 1px solid lightgray;
            border-top: 1px solid lightgray;

            td {
                padding: 8px 4px;
            }

            &:hover {
                background-color: rgb(236, 234, 234);
            }
        }

        tr.editable {
            transition: background-color 200ms ease-out;
            transition: background-color 100ms ease-in;
             // use 2px because using 1px does not balance well when a neighboring cell gets selected 
             // when a neighboring cell gets selected ie focused, a border of 1px gets applied which distorts the table uncomfortably 
            border: 2px solid #d8d8d8;
            border-width: 2px  ;
            &:hover {
            //    border: 1.2px solid pink;
            background-color: pink;
                // border: 0;
            }
            td {
                border: solid 1px #d8d8d8;
                border-collapse: collapse;
                // max-width: 200px;
                
                &:hover {
                    // border: 0px solid $hover-background-color;
                }
                div {
                    .long-text {
                        max-width: 256px;
                        text-align: initial;
                        padding: 4px;
                    }
                    // Do not set height on this div
                    // otherwise it will break the react-datepicker
                    display: block;
                    margin: 0;
                    width: 100%;
                    text-align: center;
                    input {
                        width: 100%;
                        background-color: inherit;
                        border: 0; // this is a very important property and is key to this design
                        padding: 4px 4px 2px 4px;
                        outline-color: gray; 
                        &:hover {
                            &:read-only {
                                // background-color: rgb(250, 174, 174);
                            }
                            // border: 0px solid $hover-background-color;
                        }
                    }
                    input[type="checkbox"] {
                        margin: 4px 8px;
                        height: 14px;
                        width: 14px;
                    }
                    select {
                        width: 100%;
                        height: 100%;
                        border: 0;
                        background-color: inherit;
                        &:disabled {
                            opacity: 0.96;
                        }
                        padding: 4px 4px 2px 4px;
                    }
                    &.attachment {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;

                        label {
                            
                            input {
                                display: none;
                            }
                        }
                    }
                }
                input[type="checkbox"] {
                    margin: 4px 8px;
                }
            }
        }
    }

}




// override tailwind
input:focus {
    border: 1px solid rgb(50, 50, 167);
}